.anTop{
    font-size:20px;
    border-bottom: 1px solid black;
}
h1{ 
    margin: 1rem;
}
.anSort{ 
    margin: 1rem;
    display: flex;
    justify-content: right;
}
.anSortBox{ 
    border: 1px solid rgb(155, 155, 221);
    margin-left: 0.5ch;
}
.anCard{ 
    margin: 1rem;
    border: 1px solid rgb(155, 155, 221);
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.anMainCard{
    margin: 1rem;
    border: 1px solid rgb(5, 5, 5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;

    
}